<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975558342288-qaejs224f3qm07d01rtto9s58ssviqg8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975558342288-qaejs224f3qm07d01rtto9s58ssviqg8</string>
	<key>API_KEY</key>
	<string>AIzaSyBgQQ3PetBpd-SAVE6TecfAe4AB1PqcINU</string>
	<key>GCM_SENDER_ID</key>
	<string>975558342288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.citypetro</string>
	<key>PROJECT_ID</key>
	<string>citypetro-transport</string>
	<key>STORAGE_BUCKET</key>
	<string>citypetro-transport.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975558342288:ios:08b89bb8ea1fa38f8f4a15</string>
	<key>DATABASE_URL</key>
	<string>https://citypetro-transport.firebaseio.com</string>
</dict>
</plist>